<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="反向代理">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^192.168.1.34:9100$" />
                    </conditions>
                    <action type="Rewrite" url="http://127.0.0.100/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
